[submodule "dsf-core"]
	path = dsf-core
	url = ../dsf-core
[submodule "dsf-rpc"]
	path = dsf-rpc
	url = ../dsf-rpc
[submodule "dsf-client"]
	path = dsf-client
	url = ../dsf-client
[submodule "dsf-daemon"]
	path = dsf-daemon
	url = ../dsf-daemon
[submodule "dsf-proto"]
	path = dsf-proto
	url = ../dsf-proto
[submodule "rust-kad"]
	path = rust-kad
	url = ../../ryankurte/rust-kad
[submodule "dsf-iot"]
	path = dsf-iot
	url = ../dsf-iot
[submodule "dsf-engine"]
	path = dsf-engine
	url = ../dsf-engine
[submodule "dsf-dns"]
	path = dsf-dns
	url = ../dsf-dns
